div.loader(ng-class="{active: gettingEvents}")
	div.text.flasher
		span Getting Events

div.navbar
	a.brand(href="/") 
		img(src="/img/logo.svg", height="25px", width="25px")
		span Map Around
	div.nav-actions
		ul.nav-list.desktop
			li: button.btn(ng-click="modalView = 'search'", ng-class="{active: modalView == 'search'}") Search
			li: button.btn(ng-click="modalView = 'create'", ng-class="{active: modalView == 'create'}") Create
			//- li: button.btn Sign In
		ul.nav-list.mobile
			li: button.btn(ng-click="modalView = 'search'", ng-class="{active: modalView == 'search'}")
				img(src="/img/search.svg", height="15px", width="15px")
			li: button.btn(ng-click="modalView = 'create'", ng-class="{active: modalView == 'create'}")
				img(src="/img/plus.svg", height="15px", width="15px")

div.criteria-form(ng-class="{show: modalView == 'search'}")
	form(ng-submit="searchParty()")
		div.header
			h1 Search for events
			button.close(type="button", ng-click="modalView = ''") &times;

		div.location-input
			input(type="text", ng-model="search_form.location.address", placeholder="{{locationPlaceholder}}", onblurgeocode, form="search_form")
			div#search_location.current-location(currentlocation, form="search_form", ng-hide="noCurrentLocation")
				img(src="/img/current-location.svg", height="20px", width="20px")

		div.date-time-input.clearfix
			input.date(type="text", ui-date="{minDate: today, maxDate: search_form.end_date, dateFormat: 'M d, yy'}", ng-model="search_form.start_date", placeholder="Start Date")
			select.time-select(ui-select2='ui-select2', ng-model='search_form.from', data-placeholder='From')
				include time_select
			//- div.description.time-select Start date and time	

		div.date-time-input.clearfix
			input.date(type="text", ui-date="{minDate: search_form.start_date, dateFormat: 'M d, yy'}", ng-model="search_form.end_date", placeholder="End Date")
			select.time-select(ui-select2='ui-select2', ng-model='search_form.to', data-placeholder='To')
				include time_select
			//- div.description.time-select End date and time

		div.block-selector
			div.block.placeholder Miles
			div.block(ng-click="search_form.distance = 1", ng-class="{active: search_form.distance == '1'}") 1
			div.block(ng-click="search_form.distance = 5", ng-class="{active: search_form.distance == '5'}") 5
			div.block(ng-click="search_form.distance = 10", ng-class="{active: search_form.distance == '10'}") 10
			div.block(ng-click="search_form.distance = 30", ng-class="{active: search_form.distance == '30'}") 30
			div.block(ng-click="search_form.distance = 50", ng-class="{active: search_form.distance == '50'}") 50

		div.clearfix

		div.alert-error(ui-if="validateSearchForm") {{searchErrorMsg}}

		button.btn.btn-submit(type="submit") Search Events

div.criteria-form(ng-class="{show: modalView == 'create'}")
	form(ng-submit="createParty()")
		div.header
			h1 Create an event
			button.close(type="button", ng-click="modalView = ''") &times;

		input(type="text", ng-model="create_form.name", placeholder="Name", ng-class="{error: errors.name}")
		br

		div.location-input
			input(type="text", ng-model="create_form.location.address", placeholder="{{locationPlaceholder}}", onblurgeocode, form="create_form")
			div.current-location(currentlocation, form="create_form", ng-hide="noCurrentLocation")
				img(src="/img/current-location.svg", height="20px", width="20px")

		div.date-time-input
			input.date(type="text", ui-date="{minDate: today, dateFormat: 'M d, yy'}", ng-model="create_form.raw_date", placeholder="Date")
			select.from(ui-select2='ui-select2', ng-model='create_form.from', data-placeholder='From', ng-change="changeFromTime()")
				include time_select
			select.to(ui-select2='ui-select2', ng-model='create_form.to', data-placeholder='To')
				option(value='')
				option(ng-repeat="option in toOptions" value="{{option.key}}"){{option.value}}

		input(type="text", ng-model="create_form.description", placeholder="Description")
		br

		input(type="url", ng-model="create_form.url", placeholder="Website Link")
		br

		div.alert-error(ui-if="validateCreateForm") Fill in a name, location, and date for the event

		button.btn.btn-submit(type="submit") Create Event

div.event-map(ui-map="partyMap", ui-options="mapOptions", ui-event="{'map-idle': 'onMapIdle()', 'map-zoom_changed': 'onZoomChanged()'}")
