div.navbar
	a.brand(href="/") Going On
	div.nav-actions
		ul.nav-list
			li: button.btn(ng-click="modalView = 'search'", ng-class="{active: modalView == 'search'}") Search
			li: button.btn(ng-click="modalView = 'create'", ng-class="{active: modalView == 'create'}") Create
			li: button.btn Sign In

div.criteria-form(ng-class="{show: modalView == 'search'}")
	form(ng-submit="searchParty()")
		input(type="text", ng-model="form.title" placeholder="Let's be awesome tonight")
		button.btn.btn-submit(type="submit") Search

div.criteria-form(ng-class="{show: modalView == 'create'}")
	form(ng-submit="createParty()")
		div.header
			h1 Create an event
			button.close(type="button", ng-click="modalView = ''") &times;

		input(type="text", ng-model="create_form.name", placeholder="Name")
		br

		div.location-input
			input(type="text", ng-model="create_form.location.address", placeholder="{{locationPlaceholder}}", onblurgeocode, form="create_form")
			div.current-location(currentlocation, form="create_form")
				img(src="/img/current-location.svg", height="20px", width="20px")
		div.date-time-input
			input.date(type="text", ui-date="{minDate: today, dateFormat: 'M d, yy'}", ng-model="create_form.raw_date", placeholder="Date")
			include from_select
			include to_select

		input(type="text", ng-model="create_form.description", placeholder="Description")
		br

		button.btn.btn-submit(type="submit") Create Event

div#event-map.event-map(eventmap)
