html, body {
  margin: 0px;
  font-family: $font-family;
  color: $font-color;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  color: $font-color;
}

td, th {
  font-weight: normal;
}

:focus {
  outline: none;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.loader {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  width: 150px;
  height: 50px;
  z-index: 50;
  background: #FFF;
  border: 3px solid rgba($main-color, .5);
  margin: auto;
  text-align: center;
  border-bottom-left-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  
  @include transition(all linear 200ms);
  @include box-shadow(0px 0px 20px #FAFAFA);

  img {
    position: relative;
    top: 13px;
  }

  .text {
    position: relative;
    top: 17px;
    color: $main-color;
    -webkit-font-smoothing: antialiased;
  }

  &.active {
    top: 40px;
  }
}

// Navbar styles
$nav-height: 50px;
$nav-border-width: 3px;
$to-screen-edge: 8px;
.navbar {

  height: $nav-height;
  background: $main-color;
  border-bottom: $nav-border-width solid #FFF;
  position: relative;
  z-index: 100;

  a.brand {

    float: left;
    color: #FFF;
    padding-left: 20px;
    padding: 6px 0px 0px $to-screen-edge;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;

    img {
      margin-top: 7px;
    }

    span {
      position: relative;
      top: -4px;
      left: 5px;
    }
    
  }

  div.nav-actions {

    float: right;
    margin: $to-screen-edge $to-screen-edge;

    ul.nav-list {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        float: left;

        .btn {
          margin-left: 10px;
        }
      }


    }

    ul.nav-list.mobile {
      display: none;
    }
  }
}

// Main event map styles
.event-map {
  position: absolute;
  top: $nav-height + $nav-border-width;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

// Search and Create forms
.criteria-form {
  background: #FFF;
  border: 3px solid $main-color;
  position: absolute;
  top: $nav-height + $nav-border-width + $to-screen-edge;
  display: none;
  z-index: 3;
  overflow: hidden;
  padding: 15px;
  right: $to-screen-edge;

  @include transition(100ms all linear);
  @include border-radius(5px);
  @include border-box;

  .header {
    margin-bottom: 20px;
    h1 {
      font-size: 20px;
      display: inline-block;  
      font-weight: lighter;
    }
  }

  input {
    width: 340px;
  }
}

input {
  margin: 0;
  padding: 8px 10px;
  border: 1px solid #DDD;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  font-family: $font-family;

  @include border-box;
  @include transition(200ms all linear);

  &:focus {
    outline: none;
    border-color: $main-color;
  }

  &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
    color: #DDD;
    font-family: $font-family;
    font-weight: normal;
  }

  
}

.alert-error {
  font-size: 14px;
  background: rgba($error-color, .4);
  border: 1px solid $error-color;
  padding: 8px 10px;
  margin-bottom: 10px;
  @include border-radius(4px);
}

div.location-input {

  position: relative;

  input {
    padding-right: 30px;
  }

  div.current-location {
    position: absolute;
    right: 7px;
    top: 8px;
    z-index: 1;
  }

  &:hover {
    cursor: pointer;
  }
}

$time-select-width: 105px;
div.date-time-input {

  text-align: center;

  .date {
    float: left;
    width: 120px;
  }
  .from {
    width: $time-select-width;
  }
  .to {
    float: right;
    width: $time-select-width;
  }
  .time-select {
    width: $time-select-width;
    float: left;
    margin-left: 15px;
  }

}

div.distance-input {

  input {
    width: 40px;
  }

}

div.description {
  display: inline-block;
  color: #B0B0B0;
  font-size: 14px;
  margin-left: 15px;

  &.time-select {
    width: 80px;
    margin-left: 5px;
  }
}

div.block-selector {
  border: 1px solid #DDD;
  display: inline-block;
  margin-bottom: 10px;
  @include border-radius(4px);

  .block {
    padding: 8px 10px;
    display: inline-block;
    font-size: 14px;
    border-right: 1px solid #DDD;
    @include transition(100ms all linear);

    &:not(.placeholder) {
      width: 20px;
      text-align: center;

      &:hover {
        background: $main-color;
        color: white;
        cursor: pointer;
      }
    }

    &.active {
      background: $main-color;
      color: white;
    }

    &.placeholder {
      padding-right: 20px;
      color: #BBB;
    }

    &:last-child {
      border-right: none;
    }
  }
}


// Button styles
.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #FFF;
  background: none;
  border: 1px solid #FFF;
  font-family: $font-family;
  @include border-radius(4px);
  @include transition(100ms all linear);

  &:hover, &:active, &.active {
    background: #FFF;
    color: $main-color;
    outline: 0;
  }

  &:focus {
    outline: none;
  }

  &.btn-submit {
    border-color: $main-color;
    color: $main-color;
    padding: 6px 10px;

    &:hover {
      background: $main-color;
      color: #FFF;
    }
  }
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;

  &:hover, &:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
  }
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

// Map styles //
.party-info-window {
  width: 300px;
  max-height: 300px;
  margin-right: 30px;

  h1, p {
    font-family: $font-family;
  }

  h1 {
    font-weight: normal;
  }

  hr {
    border: none;
    border-top: 1px solid #EEE;
  }

  .party-meta {
    color: #BBB;
    margin-top: 5px;
  }

  .party-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .party-content {

  }
}

@media only screen and (max-width : 360px) {

  ul.nav-list.desktop {
    display: none;
  }

  ul.nav-list.mobile {
    display: block !important;

    .btn {
      padding: 4px 7px;

      img {
        position: relative;
        top: 3px;
      }

      &:hover, &:active, &.active {
        background: $main-color !important;
      }
    }
  }

  .criteria-form {

    width: 310px;

    input {
      font-size: 12px;
      width: 275px;
    }

    left: 0px;
    right: 0px;
    margin: auto;


  }

  div.date-time-input {
    .date {
      width: 96px;
    }
    .from, .to {
      width: 89px;
    }
  }

  div.block-selector .block {
    font-size: 12px;
  }

  .select2-results .select2-result-label {
    font-size: 11px !important;
  }

  .select2-choice {
    padding: 4px 0px 3px 8px !important;
    font-size: 12px !important;
  }

}

.flasher {
    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}