extends layout
block body
	div(ng-view)
	//- Google Maps needs to be on top. Things in the _base.min.js file depend on it.
	script(src="https://maps.googleapis.com/maps/api/js?key=#{google_api_key}&sensor=false")
	script(src="/js/_base.min.js")		

