extends layout
block body
	div(ng-view)					
	script(src="/js/min/jquery.js")
	script(src="/js/min/date-utils.js")
	script(src="/js/min/angular.min.js")
	script(src="/js/min/alertify.js")
	script(src="/js/controllers/module.js")
	script(src="/js/directives.js")
	script(src="/js/controllers/home.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=#{google_api_key}&sensor=false")
