html, body {
  margin: 0px;
  font-family: 'Open Sans', "helvetica neue", sans-serif;
  color: #333333; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  color: #333333; }

td, th {
  font-weight: normal; }

:focus {
  outline: none; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.navbar {
  height: 50px;
  background: #48b3cc;
  border-bottom: 3px solid white;
  position: relative;
  z-index: 100; }
  .navbar a.brand {
    float: left;
    color: white;
    padding-left: 20px;
    padding: 6px 0px 0px 8px;
    font-size: 25px;
    -webkit-font-smoothing: antialiased; }
    .navbar a.brand img {
      margin-top: 7px; }
    .navbar a.brand span {
      position: relative;
      top: -4px;
      left: 5px; }
  .navbar div.nav-actions {
    float: right;
    margin: 8px 8px; }
    .navbar div.nav-actions ul.nav-list {
      list-style: none;
      margin: 0px;
      padding: 0px; }
      .navbar div.nav-actions ul.nav-list li {
        float: left; }
        .navbar div.nav-actions ul.nav-list li .btn {
          margin-left: 10px; }

.event-map {
  position: absolute;
  top: 53px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.criteria-form {
  background: white;
  border: 3px solid #48b3cc;
  position: absolute;
  top: 61px;
  display: none;
  z-index: 3;
  overflow: hidden;
  padding: 15px;
  right: 8px;
  -webkit-transition: 100ms all linear;
  -moz-transition: 100ms all linear;
  -o-transition: 100ms all linear;
  -ms-transition: 100ms all linear;
  transition: 100ms all linear;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .criteria-form .header {
    margin-bottom: 20px; }
    .criteria-form .header h1 {
      font-size: 20px;
      display: inline-block;
      font-weight: lighter; }
  .criteria-form input {
    width: 340px; }

input {
  margin: 0;
  padding: 8px 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333333;
  margin-bottom: 10px;
  font-family: 'Open Sans', "helvetica neue", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 200ms all linear;
  -moz-transition: 200ms all linear;
  -o-transition: 200ms all linear;
  -ms-transition: 200ms all linear;
  transition: 200ms all linear; }
  input:focus {
    outline: none;
    border-color: #48b3cc; }
  input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input::-webkit-input-placeholder {
    color: #dddddd;
    font-family: 'Open Sans', "helvetica neue", sans-serif;
    font-weight: normal; }

.alert-error {
  font-size: 14px;
  background: rgba(255, 148, 148, 0.4);
  border: 1px solid #ff9494;
  padding: 8px 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

div.location-input {
  position: relative; }
  div.location-input input {
    padding-right: 30px; }
  div.location-input div.current-location {
    position: absolute;
    right: 7px;
    top: 8px;
    z-index: 1; }
  div.location-input:hover {
    cursor: pointer; }

div.date-time-input {
  text-align: center; }
  div.date-time-input .date {
    float: left;
    width: 120px; }
  div.date-time-input .from {
    width: 105px; }
  div.date-time-input .to {
    float: right;
    width: 105px; }
  div.date-time-input .time-select {
    width: 105px;
    float: left;
    margin-left: 15px; }

div.distance-input input {
  width: 40px; }

div.description {
  display: inline-block;
  color: #b0b0b0;
  font-size: 14px;
  margin-left: 15px; }
  div.description.time-select {
    width: 80px;
    margin-left: 5px; }

div.block-selector {
  border: 1px solid #dddddd;
  display: inline-block;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  div.block-selector .block {
    padding: 8px 10px;
    display: inline-block;
    font-size: 14px;
    border-right: 1px solid #dddddd;
    -webkit-transition: 100ms all linear;
    -moz-transition: 100ms all linear;
    -o-transition: 100ms all linear;
    -ms-transition: 100ms all linear;
    transition: 100ms all linear; }
    div.block-selector .block:not(.placeholder) {
      width: 20px;
      text-align: center; }
      div.block-selector .block:not(.placeholder):hover {
        background: #48b3cc;
        color: white;
        cursor: pointer; }
    div.block-selector .block.active {
      background: #48b3cc;
      color: white; }
    div.block-selector .block.placeholder {
      padding-right: 20px;
      color: #bbbbbb; }
    div.block-selector .block:last-child {
      border-right: none; }

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  background: none;
  border: 1px solid white;
  font-family: 'Open Sans', "helvetica neue", sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 100ms all linear;
  -moz-transition: 100ms all linear;
  -o-transition: 100ms all linear;
  -ms-transition: 100ms all linear;
  transition: 100ms all linear; }
  .btn:hover, .btn:active, .btn.active {
    background: white;
    color: #48b3cc;
    outline: 0; }
  .btn:focus {
    outline: none; }
  .btn.btn-submit {
    border-color: #48b3cc;
    color: #48b3cc;
    padding: 6px 10px; }
    .btn.btn-submit:hover {
      background: #48b3cc;
      color: white; }

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: 0.2; }
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5; }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.alertify, .alertify-show, .alertify-log {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */ }

.alertify-hide {
  -webkit-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */ }

.alertify-log-hide {
  -webkit-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */ }

.alertify-cover {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0; }

.alertify-cover-hidden {
  display: none; }

.alertify {
  position: fixed;
  z-index: 99999;
  top: 50px;
  left: 50%;
  width: 550px;
  margin-left: -275px;
  opacity: 1; }

.alertify-hidden {
  -webkit-transform: translate(0, -150px);
  -moz-transform: translate(0, -150px);
  -ms-transform: translate(0, -150px);
  -o-transform: translate(0, -150px);
  transform: translate(0, -150px);
  opacity: 0;
  display: none; }

/* overwrite display: none; for everything except IE6-8 */
:root * > .alertify-hidden {
  display: block;
  visibility: hidden; }

.alertify-logs {
  position: fixed;
  z-index: 5000;
  bottom: 10px;
  right: 10px;
  width: 300px; }

.alertify-logs-hidden {
  display: none; }

.alertify-log {
  display: block;
  margin-top: 10px;
  position: relative;
  right: -300px;
  opacity: 0; }

.alertify-log-show {
  right: 0;
  opacity: 1; }

.alertify-log-hide {
  -webkit-transform: translate(300px, 0);
  -moz-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
  -o-transform: translate(300px, 0);
  transform: translate(300px, 0);
  opacity: 0; }

.alertify-dialog {
  padding: 25px; }

.alertify-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.alertify-inner {
  text-align: center; }

.alertify-text {
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%; }

.alertify-button {
  background: none;
  text-decoration: none;
  border: none;
  /* line-height and font-size for input button */
  line-height: 1.5;
  font-size: 100%;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px; }
  .alertify-button:hover, .alertify-button:active, .alertify-button:visited {
    background: none;
    text-decoration: none;
    border: none;
    /* line-height and font-size for input button */
    line-height: 1.5;
    font-size: 100%;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px; }

@media only screen and (max-width: 680px) {
  .alertify, .alertify-logs {
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .alertify {
    left: 5%;
    margin: 0; } }

.alertify, .alertify-log {
  font-family: sans-serif; }

.alertify {
  background: white;
  border: 10px solid #333333;
  /* browsers that don't support rgba */
  border: 10px solid rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  background-clip: padding-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */ }

.alertify-text {
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 4px; }

.alertify-button {
  border-radius: 4px;
  color: white;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }
  .alertify-button:hover {
    outline: none;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)); }
  .alertify-button:focus {
    outline: none;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    box-shadow: 0 0 15px #2b72d5; }
  .alertify-button:active {
    position: relative;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.alertify-button-cancel {
  background-color: #fe1a00;
  border: 1px solid #d83526; }
  .alertify-button-cancel:hover, .alertify-button-cancel:focus {
    background-color: #fe1a00;
    border: 1px solid #d83526; }

.alertify-button-ok {
  background-color: #5cb811;
  border: 1px solid #3b7808; }
  .alertify-button-ok:hover, .alertify-button-ok:focus {
    background-color: #5cb811;
    border: 1px solid #3b7808; }

.alertify-log {
  background: #1f1f1f;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  border-radius: 4px;
  color: white; }

.alertify-log-error {
  background: #fe1a00;
  background: rgba(254, 26, 0, 0.9); }

.alertify-log-success {
  color: #48b3cc;
  background: rgba(255, 255, 255, 0.85);
  border: 2px solid #48b3cc; }

.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */ }
  .ui-helper-clearfix:before {
    content: "";
    display: table;
    border-collapse: collapse; }
  .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
    clear: both; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0; }

.ui-front {
  z-index: 100; }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-datepicker {
  width: 15em;
  padding: 0.2em 0.2em 0;
  display: none; }
  .ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.2em 0; }
  .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em; }
  .ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
    cursor: pointer; }
  .ui-datepicker .ui-datepicker-prev {
    left: 2px; }
  .ui-datepicker .ui-datepicker-next {
    right: 2px; }
  .ui-datepicker .ui-datepicker-prev-hover {
    left: 1px; }
  .ui-datepicker .ui-datepicker-next-hover {
    right: 1px; }
  .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 71%;
    margin-left: -8px;
    top: 38%;
    margin-top: -8px; }
  .ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center; }
    .ui-datepicker .ui-datepicker-title select {
      font-size: 1em;
      margin: 1px 0; }
  .ui-datepicker select.ui-datepicker-month-year {
    width: 100%; }
  .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 49%; }
  .ui-datepicker table {
    width: 100%;
    font-size: 0.9em;
    border-collapse: collapse;
    margin: 0 0 0.4em; }
  .ui-datepicker th {
    padding: 0.7em 0.3em;
    text-align: center;
    border: 0; }
  .ui-datepicker td {
    border: 0;
    padding: 1px; }
    .ui-datepicker td span, .ui-datepicker td a {
      display: block;
      padding: 0.2em;
      text-align: center;
      text-decoration: none;
      width: 20px; }
  .ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: 0.7em 0 0 0;
    padding: 0 0.2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }
    .ui-datepicker .ui-datepicker-buttonpane button {
      float: right;
      margin: 0.5em 0.2em 0.4em;
      cursor: pointer;
      padding: 0.2em 0.6em 0.3em 0.6em;
      width: auto;
      overflow: visible; }
      .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
        float: left; }
  .ui-datepicker.ui-datepicker-multi {
    width: auto; }

/* with multiple calendars */
.ui-datepicker-multi .ui-datepicker-group {
  float: left; }
  .ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto 0.4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0; }

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl; }
  .ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto; }
  .ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto; }
  .ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto; }
  .ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto; }
  .ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right; }
    .ui-datepicker-rtl .ui-datepicker-buttonpane button {
      float: left; }
      .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
        float: right; }
  .ui-datepicker-rtl .ui-datepicker-group {
    float: right; }
  .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px; }

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: 'Open Sans', "helvetica neue", sans-serif;
  font-size: 16px; }
  .ui-widget .ui-widget {
    font-size: 1em; }
  .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Open Sans', "helvetica neue", sans-serif;
    font-size: 1em; }

.ui-widget-content {
  border: 1px solid #dddddd;
  background: white;
  color: #333333; }
  .ui-widget-content a {
    color: #333333; }

.ui-widget-header {
  background: white;
  color: #333333; }
  .ui-widget-header a {
    color: #333333; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #48b3cc; }

.ui-state-default a {
  color: #48b3cc;
  text-decoration: none; }
  .ui-state-default a:link, .ui-state-default a:visited {
    color: #48b3cc;
    text-decoration: none; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #48b3cc;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.ui-state-hover a {
  color: white;
  text-decoration: none; }
  .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
    color: white;
    text-decoration: none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: white;
  color: #ffa955; }

.ui-state-active a {
  color: #ffa955;
  text-decoration: none; }
  .ui-state-active a:link, .ui-state-active a:visited {
    color: #ffa955;
    text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: white;
  color: #333333; }

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #333333; }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #ffa955;
  background: white;
  color: #222222; }

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a, .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #222222; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: 0.7;
  font-weight: normal; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: 0.35;
  background-image: none; }

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 2px; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 2px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 2px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 2px; }

/* Overlays */
.ui-widget-overlay {
  background: #eeeeee;
  opacity: 0.8; }

.ui-widget-shadow {
  margin: -4px 0 0 -4px;
  padding: 4px;
  background: #aaaaaa;
  opacity: 0.6;
  border-radius: 0px; }

/*
Version: 3.4.5 Timestamp: Mon Nov  4 08:22:42 PST 2013
*/
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */ }

.select2-drop {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */ }

.select2-search {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */ }
  .select2-search input {
    /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
    -webkit-box-sizing: border-box;
    /* webkit */
    -moz-box-sizing: border-box;
    /* firefox */
    box-sizing: border-box;
    /* css3 */ }

.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 5px 0 4px 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #dddddd;
  white-space: nowrap;
  line-height: 26px;
  color: #444444;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  font-size: 14px;
  text-align: left; }
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaaaaa;
  border-radius: 0 0 4px 4px; }
.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px; }
.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url('/img/select2/select2.png') right top no-repeat;
  cursor: pointer;
  outline: 0; }
.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block; }
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer; }

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: white; }

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: white;
  color: black;
  border: 1px solid #aaaaaa;
  border-top: 0;
  border-radius: 0 0 4px 4px; }

.select2-drop-auto-width {
  border-top: 1px solid #aaaaaa;
  width: auto; }
  .select2-drop-auto-width .select2-search {
    padding-top: 4px; }

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaaaaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0; }

.select2-drop-active {
  border: 1px solid #48b3cc;
  border-top: none; }

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #48b3cc; }

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaaaaa;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #cccccc; }
  .select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('/img/select2/select2.png') no-repeat 0 1px; }

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap; }
  .select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 14px;
    border: 1px solid #aaaaaa;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: white url('/img/select2/select2.png') no-repeat 100% -22px;
    background: url('/img/select2/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #ffffff), color-stop(0.99, #eeeeee));
    background: url('/img/select2/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('/img/select2/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('/img/select2/select2.png') no-repeat 100% -22px, linear-gradient(top, white 85%, #eeeeee 99%); }

.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px; }

.select2-search input.select2-active {
  background: white url('/img/select2/select2-spinner.gif') no-repeat 100%;
  background: url('/img/select2/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #ffffff), color-stop(0.99, #eeeeee));
  background: url('/img/select2/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/img/select2/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('/img/select2/select2-spinner.gif') no-repeat 100%, linear-gradient(top, white 85%, #eeeeee 99%); }

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  border: 1px solid #48b3cc;
  outline: none; }

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: white; }
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #48b3cc;
  border-top-color: transparent; }
.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none; }
  .select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px; }

/* results */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0; }
    .select2-results ul.select2-result-sub > li .select2-result-label {
      padding-left: 20px; }
    .select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
      padding-left: 40px; }
    .select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
      padding-left: 60px; }
    .select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
      padding-left: 80px; }
    .select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
      padding-left: 100px; }
    .select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
      padding-left: 110px; }
    .select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
      padding-left: 120px; }
  .select2-results li {
    list-style: none;
    display: list-item;
    background-image: none; }
    .select2-results li.select2-result-with-children > .select2-result-label {
      font-weight: bold; }
  .select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .select2-results .select2-highlighted {
    background: #48b3cc;
    color: white; }
  .select2-results li em {
    background: #feffde;
    font-style: normal; }
  .select2-results .select2-highlighted em {
    background: transparent; }
  .select2-results .select2-highlighted ul {
    background: white;
    color: black; }
  .select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background: white;
    display: list-item;
    font-size: 12px; }
  .select2-results .select2-disabled {
    background: #f4f4f4;
    display: list-item;
    cursor: default; }
    .select2-results .select2-disabled.select2-highlighted {
      color: #666666;
      background: #f4f4f4;
      display: list-item;
      cursor: default; }
  .select2-results .select2-selected {
    display: none; }

/*
disabled look for disabled choices in the results dropdown
*/
.select2-more-results {
  background: #f4f4f4;
  display: list-item; }
  .select2-more-results.select2-active {
    background: #f4f4f4 url('/img/select2/select2-spinner.gif') no-repeat 100%; }

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #dddddd;
  cursor: default; }
  .select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0; }
  .select2-container.select2-container-disabled .select2-choice abbr {
    display: none; }

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaaaaa;
  cursor: text;
  overflow: hidden;
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(top, #eeeeee 1%, white 15%); }

.select2-locked {
  padding: 3px 5px 3px 5px !important; }

.select2-container-multi .select2-choices {
  min-height: 26px; }
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #48b3cc;
  outline: none; }
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none; }
.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap; }
  .select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;
    font-family: sans-serif;
    font-size: 100%;
    color: #666666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent !important; }
    .select2-container-multi .select2-choices .select2-search-field input.select2-active {
      background: white url('/img/select2/select2-spinner.gif') no-repeat 100% !important; }

.select2-default {
  color: #999999 !important; }

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4; }
  .select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default; }
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4; }

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
  background: url('/img/select2/select2.png') right top no-repeat; }

.select2-container-multi .select2-search-choice-close {
  left: 3px; }
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover, .select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px; }
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #dddddd;
  cursor: default; }
  .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #dddddd;
    background-image: none;
    background-color: #f4f4f4; }
    .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
      display: none;
      background: none; }

/* disabled styles */
/* end multiselect */
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
  text-decoration: underline; }

.select2-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important; }
  .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important; }

.select2-display-none {
  display: none; }

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll; }

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .select2-search input, .select2-search-choice-close {
    background-image: url('/img/select2/select2x2.png') !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important; }
  .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
    background-image: url('/img/select2/select2x2.png') !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important; }
  .select2-search input {
    background-position: 100% -21px !important; } }
